{% extends '::admin.html.twig' %}

{% block body %}
<div class="row">
	<div class="span12">
		<h2>
			Admins list
			<a href="{{ path('rb_admin_admin_add') }}" class="btn btn-info" style="float: right; font-weight: 200;">Add</a>
		</h2>
		{% if admins or query and false %}
		<form class="form-search form-filter text-right"">
		  	<input name="q" value="{{ query }}" type="text" class="input-large search-query"/>
			<button type="submit" class="btn">Search</button>
		</form>
		{% endif %}
		{% if admins %}
			<table class="table table-striped">
			<thead>
				<tr>
					<th style="width: 40px;">#</th>
					<th>name</th>
					<th>email</th>
					<th style="width: 60px;">&nbsp;</th>
				<tr>
			</thead>
			<tbody>
				{% for admin in admins %}
				<tr>
					<td>{{ admin.id }}</td>
					<td>
						{{ admin.name }}
					</td>
					<td>
						{{ admin.email }}
					</td>
					<td>
						<a href="{{ path('rb_admin_admin_edit', { adminId: admin.id }) }}"><i class="icon-edit"></i></a>
						<a onclick="return confirm('Are you sure?');" href="{{ path('rb_admin_admin_delete', { adminId: admin.id, q:query, page:pagination.actual }) }}"><i class="icon-remove"></i></a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
			</table>	
			<div class="pagination pagination-right">
			  	<ul>
				    <li><a href="#">&laquo;</a></li>
				    {% for page in 1..pagination.lastPage %}
				    	<li{% if page == pagination.actual %} class="active"{% endif %}><a href="{{ path('rb_admin_admins_list', { page: page, q: query }) }}">{{ page }}</a></li>
				    {% endfor %}
				    <li><a href="#">&raquo;</a></li>
			  	</ul>
			</div>
		{% else %}
			<div class="alert">
				No admins
			</div>
		{% endif %}
		
	</div>
</div>
{% endblock %}
