{% include 'ProtonRigbagBundle:Mail:top.html.twig' %}
<p>Congratulations, {{ advert.user.name }}!.</p>
<p style="margin: 5px 0 0 0;">
Your item, {{ advert.name }}, has been sold to {{ buyer.name }}!<br/>
Their shipping address is: {{ buyer.location }}.<br/>
Email: <a href="mailto:{{ buyer.email }}" style="color: #34b3d1; text-decoration: none;">{{ buyer.email }}</a><br/>
Phone number: {{ buyer.phone }}
</p>

<p style="margin:15px 0 0 0;">Thank you for using RigBag.<br/>
The RigBag Team<br/>
<a href="http://rigbag.com" style="color: #34b3d1; text-decoration: none;">http://rigbag.com</a></p>
{% include 'ProtonRigbagBundle:Mail:bottom.html.twig' %}