<div class="span10 mysports">
	<ul id="sports-list">
		{% if myProfile %}
		<li class="new-action" onclick="setUrl('/circles/browse/');">
			<div class="border">
				<div class="ico-add"></div>
				<h4>{% trans %}Browse other circles{% endtrans %}</h4>
			</div>
		</li>
		{% endif %}
		{% for circle in circles %}
		<li class="position" id="circle-{{ circle.id }}" data-id="{{ circle.id }}">
			<div class="ico" style="background-image: url({{ path('image_sport', { sportId: circle.interest.id, width: 80, height: 80 }) }});"></div>
			<div class="name">{{ circle.name|stripslashes }} <!--({{ circle.description|stripslashes }})--></div>
			<div class="action">
				<span class="ico"></span>
			</div>
			{% if myProfile %}
			<div class="but-delete"></div>
			{% endif %}
		</li>
		{% endfor %}
	</ul>
	<script>
		$('.but-delete').click( function( event ) {
			event.stopPropagation();
			rbApp.circle.remove($(this).parent().attr('data-id'));
		});
		$('li.position').click( function() {
			setUrl('/circles/' + $(this).attr('data-id') + '/adverts/list/' );
		});
	</script>
</div>
<!-- SPAN10: end -->